<div style="display: flex; width: 30vw; height: 100%; align-items: center; align-content: center; justify-content: center; border: 1px solid black">
  <div>
    <card value="{{ deck.trumpCard }}"></card>
  </div>
  <div style="max-width: 10vw; max-height: 7vh; position: relative; left: -8.5vw; top: 2vw;">
    <img src="/app/components/card/deck/back-rotated.png" style="max-width: 100%; max-height: 100%;">
  </div>
  <div style="position: relative; left: -14vw; top: 8vw; background-color: lightsalmon">
    {{ deck.cardCount }}
  </div>
</div>
